body {
  padding: 0;
  margin: 0;
  background-color: #f9a;
  font-family: 'Varela Round', sans-serif;
}

.alert {
  margin-top: 10px;
}

.alert p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 10px 0px 0px;
  color: whitesmoke;
}

.info {
  margin-top: 10px;
}

.card {
  background-color: peachpuff;
}

.row {
  margin-top: -50px;
}

.container-no-request {
  flex-direction: row;
  align-items: center;
}

.search {
  color: grey;
  font-size: 40px;
  align-items: center;
}

.no-request {
  font-size: 35px;
  font-weight: 800;
  color: grey;
  margin-left: 5px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

p {
  color: slateblue;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 771px) {
  .row {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px;
  }
  .alert p {
    font-size: 17px;
  }
}

@media screen and (max-width: 770px) {
  .rainbow-text {
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    width: 5em;
    line-height: 0.9em;
    margin-left: -15px;
    height: auto;
  }
  @media screen and (max-width: 365px) {
    .container-no-request {
      align-items: center;
    }
    .no-request {
      font-size: 25px;
      margin-top: -5px;
    }
    p {
      font-size: 15px;
    }
  }
  .container-cloud-sun {
    display: flex;
    width: auto;
    margin-left: -25px;
  }
}

h1 {
  font-weight: 800;
  font-size: 5em;
  width: 5em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  height: 2.9em;
}

.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient( #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;
  cursor: pointer;
}

/* Add animation on hover. */

.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */

/* Animation shown when hovering over the text. */

@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */

/* Animation shown when entering the page and after the hover animation. */

@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

.btn {
  font-size: 20px;
  font-weight: 500;
}

.form-control {
  background-color: papayawhip;
  height: 50px;
}

.weather-icon {
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  float: right;
  margin: 40px 40px 0 0;
  animation: weather-icon-move 5s ease-in-out infinite;
}

.sun {
  background: #FFCD41;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
  animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}

.container-cloud-sun {
  display: flex;
  width: auto;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container-cloud {
  margin-left: 20px;
}

.cloud {
  margin-right: 60px;
  background: #C8DAE6;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  box-shadow: #C8DAE6 24px -6px 0 2px, #C8DAE6 10px 5px 0 5px, #C8DAE6 30px 5px 0 2px, #C8DAE6 11px -8px 0 -3px, #C8DAE6 25px 11px 0 -1px;
}

.cloud::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  background-color: transparent;
  width: 4px;
  height: 12px;
  left: 0;
  top: 31px;
  transform: rotate(30deg);
  animation: rain 800ms ease-in-out infinite alternate;
}

@keyframes rain {
  from {
    box-shadow: #2092A9 8px 0px, #2092A9 32px -6px, #2092A9 20px 0px;
  }
  to {
    box-shadow: #2092A9 8px 6px, #2092A9 32px 0px, #2092A9 20px 6px;
  }
}